<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.symptoms">
    <!-- add permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
      
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity android:name=".activity.HistoryBase"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.MainActivity" />



        <activity android:name=".activity.GlucoseHistory"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.MainActivity"/>



        <activity android:name=".activity.BloodPressureHistory"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.MainActivity" />



        <activity android:name=".activity.Settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.MainActivity" />



        <activity android:name=".activity.About"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.MainActivity"/>

      
        <activity android:name=".activity.SplashScreen">
            <intent-filter>

                <!-- TODO: Enable Google indexing properly -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <activity
            android:name=".activity.GlucoseForm"
            android:label="@string/title_activity_glucose_form"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.MainActivity" />



        <activity
            android:name=".activity.BloodPressureForm"
            android:label="@string/blood_pressure_form_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.MainActivity" />



        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />



        <activity
            android:name=".activity.BodySelection"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />



        <activity
            android:name=".activity.SymptomForm"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.MainActivity" />



    </application>

</manifest>